header{
	background-color:#80ced6;
}
        	

h1{
   color: #568934;
   text-align: center;
   text-transform: uppercase;
}

h2{
   color: #512334;
   text-transform: uppercase;
}
section{
        background-color:#C0C0C0;
}
a{ 
        color: #8gh6f5;
	background-color: #846873;
}

img{
    display: None;
}


